/* Contenedor */

.keyboardContainer {
    display: flex;
    background-color: #c6c6c6;
    justify-content: center;
    width: 1030px;
    margin: 0 auto;
    border-radius: 5px;
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
    box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
    z-index: 1;
}

.simple-keyboard-main.simple-keyboard {
    width: 1030px;
    min-width: 640px;
    background: #c6c6c6;
}

.simple-keyboard .hg-button.selectedButton {
    background: #003d99;
    color: white;
}

.simple-keyboard .hg-button.emptySpace {
    pointer-events: none;
    background: none;
    border: none;
    box-shadow: none;
}

.simple-keyboard-arrows .hg-button {
    width: 50px;
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.controlArrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.simple-keyboard-control.simple-keyboard {
    background: none;
}

.simple-keyboard-control.simple-keyboard .hg-row:first-child {
    margin-bottom: 10px;
}

.simple-keyboard-control .hg-button {
    width: 50px;
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.numPad {
    display: flex;
    align-items: flex-end;
}

.simple-keyboard-numpad.simple-keyboard {
    background: none;
}

.simple-keyboard-numpad.simple-keyboard {
    width: 250px;
}

.simple-keyboard-numpad.simple-keyboard .hg-button {
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.simple-keyboard-numpadEnd.simple-keyboard {
    width: 50px;
    background: none;
    margin: 0;
    padding: 5px 5px 5px 0;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button {
    align-items: center;
    justify-content: center;
    display: flex;
}

.simple-keyboard-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
    height: 85px;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
    height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
    background: rgba(5, 25, 70, 0.53);
    color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
    width: 350px;
}