<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Test de pago con pos</h5>
                        <select #tipoPago class="control form-control" (change)="select(tipoPago.value)">
                            <option [value]="item.value" *ngFor="let item of vTipo">
                                {{ item.label }}
                            </option>
                        </select>
                        <input class="control form-control" *ngIf="vSeleccion == 2 || vSeleccion == 3" (keyup)="onKeyMonto($event)"
                            placeholder="Ingrese monto" />
                        <input class="control form-control" *ngIf="vSeleccion == 4" (keyup)="onKeyTransaction($event)"
                            placeholder="Ingrese transacción" />
                        <button type="button" class="control btn btn-primary" (click)="pagar()">
                            Realizar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>