<ngx-spinner bdColor="rgba(43,48,76,0.78)" color="#827c7c" type="timer">
  <h2 style="color: white">CARGANDO</h2>
</ngx-spinner>

<div class="d-flex flex-column h-100">
  <app-cabecera></app-cabecera>

  <div class="container" style="margin-top: 60px;">
    <div class="text-uppercase font-weight-bold" style="font-size: 30px;">
      <a href="#/catalogo/sub-categorias" style="color: #003d99;">
        {{nombreCategoria}}
      </a>
      <a href="#/catalogo/productos" style="color: #003d99;">
        <i class="fas fa-angle-right mx-2"></i>
        {{nombreSubcategoria}}
      </a>
    </div>

    <div class="d-flex flex-wrap justify-content-start align-content-start p-2" style="overflow-y: auto;height: 500px;">
      <div class="col-auto">
        <div class="d-flex flex-column align-items-center">
          <img style="width: 300px;height: 350px;" src={{productoImagen}} alt="Sample image">
          <div class="btn-group btn-rounded btn-shadow my-5" style="color: #003d99;font-size: 30px;height: 80px;">
            <button type="button" class="btn btn-rounded btn-link" (click)="minus()" mdbWavesEffect
              style="color: #003d99;">
              <i class="fas fa-minus fa-3x"></i>
            </button>
            <span class="font-weight-bold align-self-center mx-5">
              {{productoCantidad}}</span>
            <button type="button" class="btn btn-rounded btn-link" (click)="plus()" mdbWavesEffect
              style="color: #003d99;">
              <i class="fas fa-plus fa-3x"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex flex-column justify-content-start h-100">
          <label style="color: #003d99;font-size: 30px;">{{productoNombre}}</label>
          <div style="overflow-y: auto;">
            <p style="font-size: 25px;color:#6E6E6E;">{{productoDescripcion}}</p>
          </div>
          <p style="font-size: 25px;color:#6E6E6E;">{{productoPrecio}} {{productoMoneda}}</p>

          <div class="row justify-content-center">
            <button type="button" class="btn btn-rounded btn-shadow m-4" (click)="anadirCarrito()" mdbWavesEffect
              style="width: 230px; height: 80px;">
              <span class="font-weight-bold my-auto" style="color: #003d99;font-size: 30px;">
                AÑADIR<i class="fas fa-shopping-cart fa-lg ml-2"></i>
              </span>
            </button>
            <button type="button" class="btn btn-rounded btn-shadow m-4" (click)="pagar()" mdbWavesEffect
              style="width: 230px; height: 80px;">
              <span class="font-weight-bold my-auto" style="color: #003d99;font-size: 30px;">
                PAGAR
              </span>
            </button>
          </div>

          <label class="text-center" *ngIf="banderaAgregarItem" style="color: #003d99;font-size: 25px;">
            Se agregó el producto con exito</label>
          <label class="invisible" *ngIf="!banderaAgregarItem" style="font-size: 25px;">
            Se agregó el producto con exito</label>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-footerPt></app-footerPt>
  </div>
</div>
