#tarjetaPagarBtn {
    border-radius: 25px;
    color: #0064dd;
    background-color: white;
    border: none;
    height: 75px;
    width: 300px;
}

#numeroTarjetaText {
    background-color: #c6c6c6;
    border-radius: 25px;
    margin-right: 5px;
    border: none;
    color: #424242;
    box-shadow: 0px 10px 10px -6px #6E6E6E;
}

#cvcTarjetaText {
    background-color: #c6c6c6;
    border-radius: 25px;
    margin-right: 35px;
    border: none;
    color: #424242;
    box-shadow: 0px 10px 10px -6px #6E6E6E;
}

#fechavTarjetaText {
    background-color: #c6c6c6;
    border-radius: 25px;
    margin-right: 5px;
    border: none;
    color: #424242;
    box-shadow: 0px 10px 10px -6px #6E6E6E;
}

#ftdiaText {
    background-color: #c6c6c6;
    border-radius: 25px;
    margin-right: 5px;
    border: none;
    color: #424242;
    box-shadow: 0px 10px 10px -6px #6E6E6E;
}

#ftmesText {
    background-color: #c6c6c6;
    border-radius: 25px;
    margin-right: 5px;
    border: none;
    color: #424242;
    box-shadow: 0px 10px 10px -6px #6E6E6E;
}

#ftañoText {
    background-color: #c6c6c6;
    border-radius: 25px;
    margin-right: 5px;
    border: none;
    color: #424242;
    box-shadow: 0px 10px 10px -6px #6E6E6E;
}

#numeroTarjetaText:focus::placeholder {
    color: transparent;
}

#cvcTarjetaText:focus::placeholder {
    color: transparent;
}

#fechavTarjetaText:focus::placeholder {
    color: transparent;
}